body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff; 
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}



/* Container =============================*/


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header =============================*/


.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4e5066;
    padding: 35px 0;
    align-items: center;
}


/* Header Navigation =============================*/


.header__nav {
    display: flex;
}

.header__nav__item {
    margin-left: 55px;
    opacity: 0.75;
    font-family: Raleway;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: opacity 0.2s linear;
}

.nav__toggle {
    display: none;
}

.header__nav__item:first-child {
    margin-left: 0;
}

.header__nav__item:hover {
    opacity: 1;
}


/* Nav toggle */

.nav__toggle {
    width: 30px;
    padding: 28px 0;
    position: absolute;
    top: 18px;
    right: 24px;
    z-index: 1;
    cursor: pointer;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    display: none;
}

.nav__toggle:focus {
    outline: 0;
}

.nav__toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background-color 0.2s linear;
}

.nav__toggle.active .nav__toggle__item {
    background: none;
}

.nav__toggle__item::before,
.nav__toggle__item::after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #ffffff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform 0.2s linear;
}

.nav__toggle__item::before {
    top: 8px;
}

.nav__toggle__item::after {
    bottom: 8px;
}

.nav__toggle.active .nav__toggle__item::before {
    transform-origin: left top;
    transform: rotate(-45deg) translateX(-5px);
}

.nav__toggle.active .nav__toggle__item::after{
    transform-origin: left top;
    transform: rotate(45deg) translateX(-2px);
}


/* Intro =============================*/


.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background: #31344f url("images/01_intro/Intro_background.png") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #ffffff;
}

.intro__subtitle {
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    color: #ffffff;
    margin: 40px 0 75px 0;
}


/* Intro Button =============================*/


.intro__button {
    display: inline-block;
    vertical-align: top;
    padding: 14px 52px;
    
    font-family: Raleway;
    font-size: 13px;
    line-height: 21px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    text-decoration: none;

    transition: background-color 0.2s linear;
}

.intro__button--red {
    background-color: #e84545;
    border-radius: 2px;
}

.intro__button--red:hover {
    background-color: #ffffff;
    color: #e84545;
}

.intro__button--long {
    min-width: 280px;
    border: 1px solid #e84545;
}


/* Benefits =============================*/


.benefit {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 85px 0;
}

.benefit__item {
    width: 33.33333%;
    text-align: center;
    margin: 35px 0;
    padding: 0 45px;
}

.benefit__title {
    margin: 30px 0 25px 0;
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3033;
}

.benefit__text {
    font-family: Raleway;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #6c7279;
}


/* Projects =============================*/


.projects {
    display: flex;
    flex-wrap: wrap;
}

.project__item {
    position: relative;
    width: 25%;
    overflow: hidden;
    height: 350px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.project__image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.project__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(232,69,69,0.9);
    opacity: 0;

    transition: opacity 0.2s linear;
}

.project__info:hover {
    opacity: 0.9;
}

.project__title {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 12px;
}

.project__text {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}


/* Team =============================*/


.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px -15px 70px;
}

.team__employee {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__employee_info {
    max-width: 265px;
}

.team__employee_photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.team__employee_name {
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    color: #2d3033;
    margin-bottom: 10px;
}

.team__employee_prof {
    font-family: Raleway;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #e84545;
    margin-bottom: 25px;
}

.team__employee_text {
    font-family: Raleway;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #6c7279;
    margin-bottom: 25px;
}

.team__employee_contact {
    display: flex;
}

.team__employee_contact_item {
    display: flex;
    color: #c6cacc;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ecf0f1;
    margin-right: 5px;
    text-decoration: none;

    transition: background-color 0.2s linear;
}

.team__employee_contact_item:hover {
    background-color: #e84545;
    color: #fff;
}


/* Reviews =============================*/


.reviews {
    background-color: #53354a;
    overflow: hidden;
}

.review__item {
    display: flex;
    flex-wrap: wrap;
}

.review__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.review__image {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.review__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.review__text {
    font-family: Cardo;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    margin-bottom: 25px;
}

.review__author {
    font-family: Raleway;
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

/* Download =============================*/

.download__inner {
    margin: 100px 0;
    text-align: center;
}

.download__title {
    font-family: Raleway;
    font-size: 28px;
    line-height: 21px;
    font-weight: 300;
    color: #2d3033;
    margin-bottom: 15px;
}

.download__subtitle {
    font-family: Raleway;
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3033;
    margin-bottom: 40px;
}


/* Footer =============================*/


.footer {
    background-color: #3a3e64;
    padding: 70px 0;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
}

.footer__inner_item {
    width: 33.33333%;
    text-align: center;
    padding: 0 15px;
}

.footer__inner_item_title {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer__inner_item_text {
    opacity: 0.5;
    font-family: Raleway;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    font-style: normal;
}

.footer__social {
    display: flex;
    justify-content: center;
}

.footer__social_item {
    display: flex;
    color: #ffffff;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    margin-right: 5px;
    text-decoration: none;

    transition: background-color 0.2s linear;
}

.footer__social_item:hover {
    background-color: #e84545;
}


/* Copyright =============================*/


.copyright {
    text-align: center;
    padding: 25px 0;
    background-color: #313454;
}

.copyright__title,
.copyright__subtitle {
    padding-bottom: 5px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #808080;
}

.copyright__subtitle a {
    font-family: Webdings;
    color: #e84545;
}

.copyright__subtitle c {
    color: #ffffff;
}


/* Media =============================*/

@media (max-width: 1024px) {

    /* Header Nav */
    
    .header__nav__item {
        margin-left: 35px;
    }
    
    /* Intro */

    .intro__title {
        font-size: 48px;
    }

    .intro__subtitle {
        font-size: 18px;
    }

    /* Team */

    .team__employee_text {
        font-size: 12px;
    }

    /* Reviews */

    .review__text {
        font-size: 26px;
    }

    
}

@media (max-width: 770px) {

    /* Header Nav */

    .header__nav {
        display: none;
    }

    .nav__toggle {
        display: block;
    }

        /* Intro */

    .intro {
        height: auto;
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .intro__title {
        font-size: 36px;
    }

    .intro__subtitle {
        font-size: 16px;
    }

    .benefit__item {
        width: 50%;
    }

    .project__item {
        width: 50%;
    }

    .team {
        justify-content: space-evenly;
    }

    .team__employee {
        width: 50%;
        max-width: 270px;
        padding: 0 20px;
    }

    .review__photo {
        width: 100%;
    }
    .review__content {
        width: 100%;
        padding: 30px 50px;
    }

    .review__text {
        font-size: 20px;
    }
}

@media (max-width: 575px) {

    .intro {
        height: auto;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        font-size: 14px;
    }

    .benefit {
        margin: 40px 0;
    }

    .benefit__item {
        width: 100%;
        margin: 20px 0;
        padding: 0 20px;
    }

    .project__item {
        width: 100%;
    }

    .team__employee {
        width: 100%;
        max-width: 310px;
        padding: 0 20px;
    }

    .download__title {
        font-size: 20px;
    }

    .footer__inner_item {
        width: 100%;
        padding-bottom: 50px;
    }

    .review__text {
        line-height: 28px;
    }

    .footer {
        padding-bottom: 20px;
    }

}

@media (max-width: 360px) {
  
    .intro__title {
        font-size: 24px;
    }

    .intro__subtitle {
        font-size: 12px;
    }

    .review__content {
        padding: 20px 20px;
    }

    .benefit__item {
        padding: 0 10px;
    }
}

@media (max-width: 320px) {

    .intro {
        height: 568px;
    }

}